.tweet-con {
    height: 100vh;
    overflow: auto;

    &::-webkit-scrollbar {
        visibility: hidden;
    }

    >.tweetbox{
        padding: 5px;
        transition: 0.5s;
        border-radius: 10px;

        &:hover{
            background-color: rgba(0, 191, 255, 0.285);
        }
        >.retweeted{
            margin-left: 40px;
            >i{
                font-size: 10px;
            }
        }
        >.tweetcard {
            >.author_post {
                >.post_image {
                    >img {
                        width: 600px;
                        height: 400px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}