.menu-con {
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;

    .menu-item {
        >i {
            margin-top: 2.5rem;
        }

        .menu-content {
            .home-menu {
                >a {
                    padding: 10px 14px;
                    border-radius: 25px;
                    transition: 0.5s;

                    &:hover {
                        background-color: rgba(0, 191, 255, 0.285);
                    }
                }
            }
        }
    }

    >.user-area {
        >.details {
            >.username {
                margin-top: -5px;
            }
        }
    }
}